body {
    --primary-color: #0080FF;
    --light-color: #92D3FF;
    --white: #F0F0F0;
    --dark-gray: #333;
    --medium-gray: #666;

    background: #505050;
    color: var(--white);
}

.App > div {
    padding: 16px 24px;
}

.HomePage h1 {
    margin-bottom: 1em;
}

.HomePage p {
    max-width: 600px;
}

.Header {
    margin: 0 -15px 50px;
    color: var(--white);
}

.SocialPage {
    text-align: center;
}

.SocialPanel {
    width: 180px;
    box-sizing: content-box;
    display: inline-block;
    border: 2px var(--medium-gray) solid;
    text-align: center;
    background-color: var(--dark-gray);
    color: var(--white);
    margin: 0 5px 10px;
    padding: 0 0 15px;
}

.SocialPanel:hover {
    text-decoration: none;
    color: var(--white);
}

.SocialPanel .image > div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 128px auto;
    width: 180px;
    height: 180px;
}

.SocialPanel .image > div.hover {
    display: none;
}

.SocialPanel:hover .image > div.hover {
    display: block;
}

.SocialPanel:hover .image > div.off {
    display: none;
}

.SocialPanel .title {
    border: solid var(--medium-gray);
    border-width: 2px 0 0;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 0 0;
}

.StreamsPage {
    font-size: 2em;
    text-align: center;
}

.ProjectsPage {
    list-style: none;
    display: grid;
    overflow: hidden;
    grid-auto-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: repeat(auto-fill, 304px);
    justify-content: center;
}

.ProjectCard {
    background: var(--dark-gray);
    color: var(--white);
    border: 2px solid var(--medium-gray);
}

.ProjectCard img {
    border-bottom: 1px solid var(--white);
}

.ProjectCard a {
    color: var(--light-color);
    border-bottom: 1px solid var(--white);
    display: block;
    line-height: 2.5;
    padding: 0 16px 0 44px;
}

.ProjectCard .icon {
    position: relative;
}

.ProjectCard .icon:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 28px;
    height: 28px;
}

.ProjectCard .github:before {
    background: url("/public/images/github-icon.png") no-repeat center;
    background-size: 100%;
}

.ProjectCard .youtube:before {
    background: url("/public/images/youtube-icon.png") no-repeat center;
    background-size: 100%;
}

.ProjectCard .twitch:before {
    background: url("/public/images/twitch-icon.svg") no-repeat center;
    background-size: 100%;
}

.ProjectCard .body {
    padding: 16px;
}

.ProjectCard img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.ProjectsPage .title {
    font-size: 1.6em;
    text-align: center;
    border-bottom: 1px solid var(--white);
    line-height: 2.5;
}